* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #0d47a1;
    color: white;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin-left: 20px;
    cursor: pointer;
}

/* HERO */
.hero {
    height: 80vh;
    background:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?w=1600");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding-top: 160px;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    margin-top: 10px;
    font-size: 18px;
}

.hero button {
    margin-top: 25px;
    padding: 12px 30px;
    border: none;
    background: #ff9800;
    color: white;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
}

/* SEARCH */
.search {
    text-align: center;
    margin: 30px;
}

.search input {
    width: 300px;
    padding: 10px;
    font-size: 14px;
}

/* DESTINATIONS */
.destinations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 230px;
    background: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 1
